* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Nunito';
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  min-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 3px gainsboro;
}

main {
}

section.mobilefirst {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  h1 {
    font-weight: bold;
    font-size: small;
    color: #ed6436;
    padding-top: 1rem;
  }

  p {
    font-weight: bold;
    font-size: xx-large;
  }
}

section.mobilesecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.image {
  border-radius: 10%;
}

.image:hover {
  transform: scale(1.2);
}

.hero {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    position: absolute;
    color: white;
    top: 7.7rem;
    right: 5.5rem;
    font-size: xx-small;
  }
  span {
    position: absolute;
    color: white;
    top: 8.3rem;
    right: 4.4rem;
    font-size: small;
    font-weight: bold;
  }
}
